.container { 
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    border: 1px solid rgb(0, 0, 0);    
    width: 600px;
    height: 600px;
    margin: auto;

}
.gridDiv { 
    box-sizing: border-box;
    flex: 0 0 calc(100% / var(--grid-size, 1));
    /*border: 1px solid red; */
    display: flex;
}
.trail{
    background-color: aqua;
}